<div id="add-student">
	<form class="form-horizontal" action="" method="post" role="form" enctype="multipart/form-data">

		{% if row.id > 0 %}
			<input class="form-control" type="hidden" name="id" value="{{ row.id }}" />
		{% endif %}

		<div class="form-group">
			<label class="col-sm-2 control-label">Name:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="name" value="{{ row.name }}" />
                <span class="has-error">{{ errors.name }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Last name:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="last_name" value="{{ row.last_name }}" />
                <span class="has-error">{{ errors.last_name }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Sex:</label>
			<div class="col-sm-4">
				<select name="sex" class="form-control">
                    {% for sexKey, sexTitle in aSex %}
                        <option {% if sexKey == row.sex %} selected=""{% endif %} value="{{ sexKey }}">{{ sexTitle }}</option>
                    {% endfor %}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Group:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="group" value="{{ row.group }}" />
                <span class="has-error">{{ errors.group }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Faculty:</label>
			<div class="col-sm-4">
				<input class="form-control" type="text" name="faculty" value="{{ row.faculty }}" />
                <span class="has-error">{{ errors.faculty }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Phone:</label>
			<div class="col-sm-4">
				<input class="form-control" type="tel" name="phone" value="{{ row.phone }}" />
                <span class="has-error">{{ errors.phone }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">E-mail:</label>
			<div class="col-sm-4">
				<input class="form-control" type="email" name="email" value="{{ row.email }}" />
                <span class="has-error">{{ errors.email }}</span>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label">Photo:</label>
			<div class="col-sm-4">
				{% if row.photo %}
					<input type="hidden" name="photo" value="{{ row.photo }}" />
                    <img alt="" src="{{ row.photo }}" /><br/><br/>
				{% endif %}
				<input class="form-control" type="file" name="photo" accept=".png,.jpg,.jpeg,.gif" />
			</div>
		</div>


		<div class="form-group">
			<label class="col-sm-2 control-label">&nbsp;</label>
			<div class="col-sm-4">
				<button class="btn btn-default" type="submit">Save</button>
			</div>
		</div>
	</form>


</div>