<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes" />
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">

		<title>My lovely students</title>
		<meta name="description" content="My lovely students" />
		<meta name="keywords" content="My lovely students" />

		<link href="/assets/bootstrap/css/bootstrap.min.css" type="text/css" rel="stylesheet" />
		<link href="/assets/css/style.css" type="text/css" rel="stylesheet" />

        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
	</head>
	<body>
		<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/">My lovely students</a>
				</div>
				<div id="navbar" class="collapse navbar-collapse">
					<ul class="nav navbar-nav">
						<li{% if action == 'about' %} class="active"{% endif %}><a href="/about">About</a></li>
						<li{% if action == 'contact' %} class="active"{% endif %}><a href="/contact">Contact</a></li>
						<li{% if action == 'list' %} class="active"{% endif %}><a href="/students">Students</a></li>
					</ul>

					<ul class="nav navbar-nav pull-right">
						<li{% if action == 'add' %} class="active"{% endif %}><a href="/add">Add student</a></li>
					</ul>
				</div><!--/.nav-collapse -->
			</div>
		</nav>

		<div class="container">

			<article>
                {{ layout.getView('content')|raw }}
			</article>

			<footer class="footer">

				<p>&copy; 2014 Developed by Bobyk Andriy.</p>
			</footer>
		</div>

        <script src="/assets/jquery/jquery.min.js"></script>
		<script src="/assets/bootstrap/js/bootstrap.min.js"></script>

		<script src="/assets/js/app.js"></script>
	</body>
</html>
